<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.craft.dao.CollectionTimeMapper" >
  <resultMap id="BaseResultMap" type="com.craft.pojo.CollectionTime" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="match_id" property="matchId" jdbcType="INTEGER" />
    <result column="time_name" property="timeName" jdbcType="VARCHAR" />
    <result column="time_date" property="timeDate" jdbcType="VARCHAR" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, match_id, time_name, time_date, sort, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collection_time
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collection_time
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.craft.pojo.CollectionTime" >
    insert into collection_time (id, match_id, time_name, 
      time_date, sort, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{matchId,jdbcType=INTEGER}, #{timeName,jdbcType=VARCHAR}, 
      #{timeDate,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.craft.pojo.CollectionTime" >
    insert into collection_time
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="matchId != null" >
        match_id,
      </if>
      <if test="timeName != null" >
        time_name,
      </if>
      <if test="timeDate != null" >
        time_date,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="matchId != null" >
        #{matchId,jdbcType=INTEGER},
      </if>
      <if test="timeName != null" >
        #{timeName,jdbcType=VARCHAR},
      </if>
      <if test="timeDate != null" >
        #{timeDate,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.craft.pojo.CollectionTime" >
    update collection_time
    <set >
      <if test="matchId != null" >
        match_id = #{matchId,jdbcType=INTEGER},
      </if>
      <if test="timeName != null" >
        time_name = #{timeName,jdbcType=VARCHAR},
      </if>
      <if test="timeDate != null" >
        time_date = #{timeDate,jdbcType=VARCHAR},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.craft.pojo.CollectionTime" >
    update collection_time
    set match_id = #{matchId,jdbcType=INTEGER},
      time_name = #{timeName,jdbcType=VARCHAR},
      time_date = #{timeDate,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <!--首页  -->
  
  <!-- 根据比赛id 获取征集时间 -->
   <select id="selCollectionTimeByMatchId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collection_time
    where match_id = #{match_id,jdbcType=INTEGER}
  </select>
  
  
</mapper>