/* CSS Document */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,div {
	margin: 0;
	padding: 0;
}
body, button, input, select, textarea {
	font: 14px "Microsoft YaHei", Arial, Helvetica, sans-serif;
}
button, input, select, textarea {
	outline: none;
}
textarea {
	resize: none
}
address, cite, dfn, em, var {
	font-style: normal;
}
ul, ol {
	list-style: none;
}
a, u {
	text-decoration: none;
	outline: medium none;
	outline: none;
}
a { cursor:pointer;}
a:hover {
	outline: medium none;
	outline: none;
}
img {
	border: 0 none;
}
button, input, select, textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fl {
	float: left !important;
}
.fr {
	float: right;
}
.fw {
	font-weight: bold;
}
.clr::after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
}
.cler{
	clear: both;
}
.clr {
 *zoom: 1;
}
.blank0 {
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0px;
	overflow: hidden;
}
.p_r {
	position: relative;
}
.p_a {
	position: absolute;
}
.tc {
	text-align: center !important;
}
.tr {
	text-align: right !important;
}
.tl {
	text-align: left !important;
}
.tc {
	text-align: center !important;
}
.tr {
	text-align: right !important;
}
.bg-e9 {
	background: #e9e9e9;
}
.mgt30 {
	margin-top: 30px;
}
.mt10 {
	margin-top: 10px;
}
.bg-ff {
	background: #fff;
}
.pl8 {
	padding-left: 8px !important;
}
.pr8 {
	padding-right: 8px;
}
.pl14 {
	padding-left: 14px !important;
}
.pr14 {
	padding-right: 14px;
}
.pl15 {
	padding-left: 15px;
}
.pl40 {
	padding-left: 40px;
}
.pr15 {
	padding-right: 15px;
}
.pt9 {
	padding-top: 9px;
}
.pt18 {
	padding-top: 18px;
}
.pt25 {
	padding-top: 25px;
}
.pb18 {
	padding-bottom: 18px;
}
.pl100 {
	padding-left: 100px !important;
}
.ml10 { margin-left:10px;}
.ml20 { margin-left:20px;}
.ml30 { margin-left:30px;}
.ml0 { margin-left:0px !important;}
.mr0 { margin-right:0px !important;}
.pt0 {
	padding-top: 0px !important;
} 
 
.fill{
	color:red;
	margin-left:10px;
}

.lffill{
	color:red;
	float: left;
    padding: 10px;
}

/* 颜色 */
.red {
	color: #c00 !important; 
}
.yell {
	color: #FFF833 !important;
}
.gre {
	color: #093 !important;
}
.block{
	color: #333 !important; 
}

/* 分页 */
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;text-align:center;}
.tcdPageCode a{display: inline-block;color: #ed1c24;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #ed1c24;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #ed1c24;	border: 1px solid #ed1c24;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}