.w1318{width: 1318px;margin:0 auto}
.w1318 .rmenu{ float: right}
.logbn .w1318 .logotext{width:290px;height:40px; float: left;_display:inline;margin:5px 0 0 62px;}
.logbn .w1318 .menuone{margin-right: 50px}
.wid100{min-width:1318px}
.w1318 .foreinarow{margin-right: 28px}
.mainmenu .w1318 .vertimenubtn{width: 180px;}
.whot1318{width:1318px;margin:0 auto}