.w1318{width: 960px;margin:0 auto;height: 42px;}
.w1318 .rmenu{ float: right}
.logbn .w1318 .logotext{width:290px;height:40px;float: left;_display:inline;margin:5px 0 0 40px;}
.logbn .w1318 .menuone{margin-right: 36px}
.w1318 .foreinarow{margin-right: 26px}
.wid100{min-width:960px}
.mainmenu .w1318 .vertimenubtn{width: 128px;}
.whot1318{width:96